* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Arial", Arial, Roboto, Helvetica, sans-serif;
  margin: 0;
}

#button {
  background-color: #fff;
  padding: 10px;
  margin-left: 10px;
  font-size: 12px;
  text-decoration: none;
  color: #666;
  box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
  border-radius: 50px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right;
}
#button:active {
  top: 7px;
  background-image: linear-gradient(bottom, #64aa1e 100%, #81d433 0%);
  box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
  color: #156785;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}

.head-wrap {
  margin: 0 auto;
  background-color: #60bc7b;
}
.head-wrap .head-elements {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}
.head-wrap .head-elements h1 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  letter-spacing: 10px;
  font-weight: 300;
  display: inline-block;
}

.main-wrap {
  height: 100%;
}
.main-wrap .row {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px;
  display: block;
}
.main-wrap .row:after {
  content: "";
  display: table;
  clear: both;
}
.main-wrap .row .book-thumb {
  margin: 5px;
  float: left;
  max-width: 23.53%;
}
@media screen and (max-width: 670px) {
  .main-wrap .row .book-thumb {
    max-width: 47%;
  }
}
.main-wrap .row .book-thumb img {
  height: 200px;
  width: 100%;
}
.main-wrap .row .book-thumb a {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #00408d;
  text-decoration: none;
  display: block;
}
.main-wrap .row .book-thumb a:hover {
  text-decoration: underline;
}
.main-wrap .row .book-thumb #author {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 300;
}
.main-wrap .row .book-thumb #price {
  float: right;
  margin: 5px 0;
  font-size: 24px;
  font-weight: 300;
  color: #961c00;
}
.main-wrap .row .book-thumb #price #new-price {
  font-size: 14px;
  color: grey;
  text-decoration: line-through;
}
.main-wrap .row .book-thumb:hover {
  cursor: pointer;
}

.main-wrap .container {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}
.main-wrap .container:after {
  content: "";
  display: table;
  clear: both;
}
.main-wrap .container #book-img {
  float: left;
  position: relative;
  width: 160;
  height: 215;
}
.main-wrap .container #book-img img {
  width: 160;
  height: 215;
}
.main-wrap .container #book-info {
  position: relative;
  margin-left: 170px;
}
.main-wrap .container #book-info input[type="text"] {
  width: 100%;
  overflow: auto;
  margin: 0 0 10px 0;
  background-color: #efefef;
  font-size: 16px;
  padding: 5px 15px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.main-wrap .container #book-info input[type="text"]:focus, .main-wrap .container #book-info input[type="text"].focus {
  border-bottom: solid 2px #969696;
  outline: none;
}
.main-wrap .container a {
  position: absolute;
  bottom: 0;
}

footer {
  background-color: #60bc7b;
}
footer p {
  max-width: 700px;
  margin: 15px auto 0 auto;
  padding: 20px 15px;
}

/*# sourceMappingURL=style.css.map */
