section
    padding: 0 10px
    height: 100%
    max-width: $page-width
    margin: 30px auto
    display: block
    +clearfix

    @media screen and (max-width: 640px)
        margin: 10px auto

.text-content
    padding-bottom: 25px
