<div class="full-width-banner">
	<div class="footer-elements">
		<a href="/"><h1>G1</h1></a>
		<nav>
			<a id="open-login" href="#">logg inn</a>
			<a href="/">logg ut</a>
			<a {% if id == 'profil' %}class="btn-selected"{% endif %} href="/profil">profil</a>
		</nav>
	</div>
</div>

<div id="login-modal">
    <h3 id="see-id">Logg inn eller registrer deg</h3>
    <div id="login-modal-form">
        <input type="text" placeholder="E-post">
        <input type="password" placeholder="Passord">
		<a id="login-to-site" href="#">logg inn</a>
    </div>
    <h3 id="left-out">Føler du deg holdt utenfor?</h3>
    <div class="fb-icon-bg"></div>
    <div class="fb-bg">
		<a href="#login-fb">Registerer deg med FaceBook</a>
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/lightboxme.js"></script>
<script src="js/modalCtrl.js"></script>
<script type="text/javascript" src="js/fastclick.js"></script>
<script>
	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>
