<footer class="full-width-banner">
	<div class="footer-elements">
		<a href="/"><h1>G1</h1></a>
		<nav>
			<a id="open-login" href="#modal-one">logg inn</a>
			<a href="/">logg ut</a>
			<a {% if id == 'profil' %}class="btn-selected"{% endif %} href="/profil">profil</a>
		</nav>
	</div>
</footer>

<!-- Login modal -->
<a href="#" class="modal" id="modal-one" aria-hidden="true"></a>
<div class="modal-dialog">
	<div class="modal-header">
		<h2>Logg inn eller registrer deg</h2>
		<a href="#" class="btn-close" aria-hidden="true">×</a>
	</div>
	<div class="modal-body">
		<input type="text" placeholder="E-post">
		<input type="password" placeholder="Passord">
		<a id="login-site" href="#">logg inn</a>
		<h3 id="left-out">Føler du deg holdt utenfor?</h3>
		<div class="fb-icon-bg"></div>
		<div class="fb-bg">
			<a href="#login-fb">Registerer deg med FaceBook</a>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn">Avbryt</a>
	</div>
</div>

<script src="js/libraries.js"></script>
<script src="js/global.js"></script>

<!-- Initiate fastclick.js -->
<script>
	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>
