<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	{% include 'body.header.html' %}

	<section class="books">
		{% for book in listOfBooks %}
		<div class="book-container">
			<a href="produkt" class="book-thumb">
				<img src="/img/dmc.jpg" alt="">
				<h1 class="title" href="#">{{ book.title }}</h1>
				<p class="author">{{ book.authors }}</p>
				<p class="price"><span class="retail-price">{{ book.retailprice }},-</span> {{ book.price }},-</p>
			</a>
		</div>
		{% endfor %}
	</section>

	{% include 'body.footer.html' %}

</body>
</html>
