<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	{% include 'body.header.html' %}

	<section class="books">
		{% set productCount = 20 %}
		{% set productCountAsArray = Array(productCount) %}

		{% for x, y in productCountAsArray %}
		<a href="produkt" class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<p class="title" href="#">Descrete mathematics for programming</p>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="retail-price">600,-</span> 250,-</p>
		</a>
		{% endfor %}

	</section>

	{% include 'body.footer.html' %}

	<script type="text/javascript" src="js/fastclick.js"></script>
	<script>
		window.addEventListener('load', function() {
		    FastClick.attach(document.body);
		}, false);
	</script>

</body>
</html>
