<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	{% include 'body.header.html' %}

	<section id="sell-book">
			<div id="results"></div>

			<div id="book-info">
				<input type="text" placeholder="Tittel">
				<input type="text" placeholder="Utgitt">
				<input type="text" placeholder="Pris">
				<input type="text" placeholder="Hvordan er tilstanden til boken?">
			</div>
			
			<a class="btn" href="#">legg ut for salg</a>
	</section>

	<section id="faq">
		<h2>Hvordan fungerer dette?</h2>
		<p>{{item}}<br/>{{id}}</p>
		
		<h2>Hvordan fjerner jeg en solgt bok?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ducimus. Esse officia eos earum atque, fuga facilis animi tempora autem beatae impedit ipsam debitis nam ad, distinctio laborum nulla voluptas.</p>
		
		<h2>Hvordan kan dette være gratis?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa perspiciatis illo voluptatibus culpa, eos nemo beatae ducimus, consequuntur illum obcaecati maxime, possimus cumque alias pariatur vero aperiam. Quo, rem, debitis.</p>
	</section>

	{% include 'body.footer.html' %}

	<script type="text/javascript" src="../js/fastclick.js"></script>
	<script>
		window.addEventListener('load', function() {
		    FastClick.attach(document.body);
		}, false);
	</script>
</body>
</html>