<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	{% include 'body.header.html' %}

	<section id="product-info">
		<img src="img/dmc.jpg" alt="">
		<div id="book-info">
			<p id="title">Descrete mathematics for programming</p>
			<p id="author">Av Rod Haggarty, <span id="release-date">2009</span></p>
			<p id="price"><span id="retail-price">600,-</span > 250,-</p>
		</div>
	</section>

	<section id="kontakt-selger">
		<p>Kom i kontakt med selger av boken</p>
		<a href="http://facebook.com" class="fa fa-facebook fa-4x"></a>
		<a href="http://twitter.com" class="fa fa-twitter fa-4x"></a>
		<a href="mailto:mail@gmail.com" class="fa fa-envelope fa-4x"></a>
		<a href="tel:1881" class="fa fa-phone fa-4x"></a>
	</section>

	<section id="del-bok">
		<p>Del boken</p>
		<a href="http://facebook.com" class="fa fa-facebook fa-4x"></a>
		<a href="http://twitter.com" class="fa fa-twitter fa-4x"></a>
	</section>

	{% include 'body.footer.html' %}

</body>
</html>
