<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	{% include 'body.header.html' %}

	<section id="my-profile">
		<img src="/img/profil.jpg" alt="">
		<h2 id="name">Ola Nordmann</h2>
		<p>Du har solgt 2 bøker og 2 bøker ligger fortsatt ute for salg.</p>
	</section>

	<section class="books">
		<h2>Mine bøker</h2>
		{% if bookList == true %}
			{% for book in books %}
				<div class="book-container">
					<a href="produkt" class="book-thumb">
						<img src="/img/dmc.jpg" alt="">
						<p class="title" href="#">{{ book.title }}</p>
						<p class="author">{{ book.authors }}</p>
						<p class="price"><span class="retail-price">{{ book.retailprice }},-</span> {{ book.price }},-</p>
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</section>

	<section id="account-settings">
		<h2>Brukervalg</h2>
		<p>Slett bruker og alle assosierte bøker</p>
		<a href="#">Slett bruker</a>
	</section>

	{% include 'body.footer.html' %}

</body>
</html>
