<!DOCTYPE html>
<html lang="no">
{% include 'head.html' %}

<body>

	{% include 'body.nav.html' %}

	<form method="post" enctype="multipart/form-data" action="/submit-book">
	<section id="sell-info">
		<h2>Bokinformasjon</h2>

		<div class="book-info">
			<input type="text" name="title" placeholder="Tittel" autofocus>
			<input type="text" name="authors" placeholder="Forfattere">
			<input type="text" name="publishDate" placeholder="Utgivelsesår">
		</div>

		<div class="condition-info">
			<p>Tilstanden på boken er</p>
			<select name="tilstand" id="">
				<option value="very-good">veldig bra</option>
				<option value="good">bra</option>
				<option value="ok">ok</option>
				<option value="bad">dårlig</option>
			</select>
		</div>

		<div class="price-info">
			<input type="text" name="price" placeholder="Pris">
		</div>

	</section>

	<section id="upload-img">
		<h2>Legg til et eller flere bilder</h2>
		<div id="images">
			<input type="file" name="thumbnail">
		</div>
	</section>

	<section id="ready-to-sell" class="text-content">
		<input type="submit">
	</section>
	</form>

	{% include 'body.footer.html' %}

</body>
</html>
