<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	{% include 'body.header.html' %}

	<section id="book-info">
		<p>Fyll ut feltene under</p>
		<input type="text" placeholder="Tittel">
		<input type="text" placeholder="Utgitt">
		<input type="text" placeholder="Pris">
		<input type="text" placeholder="Hvordan er tilstanden til boken?">
	</section>

	<section id="upload-img">
		<p>Legg til et eller flere bilder</p>
		<a id="open-upload" class="file-container">
			<i class="fa fa-plus fa-3x"></i>
		</a>
	</section>

	<section id="choose-contact">
		<p>Velg hvordan du vil bli kontaktet</p>
		<i class="fa fa-facebook fa-4x"></i>
		<i class="fa fa-twitter fa-4x"></i>
		<i class="fa fa-envelope fa-4x"></i>
		<i class="fa fa-phone fa-4x"></i>
	</section>

	<section id="ready-to-sell" class="text-content">
		<a href="#">legg ut for salg</a>
	</section>

	{% include 'body.footer.html' %}

</body>
</html>
