<!DOCTYPE html>
<html lang="no">
{% include 'head.html' %}

<body>

	{% include 'body.nav.html' %}

	<section id="sell-info">
		<h2>Bokinformasjon</h2>

		<div class="book-info">
			<input type="text" name="title" placeholder="Tittel">
			<input type="text" name="authors" placeholder="Forfattere">
			<input type="text" name="publishDate" placeholder="Utgivelsesår">
		</div>

		<div class="condition-info">
			<p>Tilstanden på boken er</p>
			<select name="" id="">
				<option value="4">veldig bra</option>
				<option value="3">bra</option>
				<option value="2">ok</option>
				<option value="1">dårlig</option>
			</select>
		</div>

		<div class="price-info">
			<input type="text" name="price" placeholder="Pris">
			<p id="price-tip">På akadmeika.no koster boken { retailPrice }, vi anbefaler at du tar kr { (retailPrice / 2) +/- bookCondition }.</p>
		</div>

	</section>

	<section id="upload-img">
		<h2>Legg til et eller flere bilder</h2>
		<div id="images">
			<div id="first-image">
				<div id="open-upload"></div>
				<img id="image-preview" src="#" alt="Book image" />
			</div>
			<div id="second-image">
				<div id="open-upload"></div>
				<img id="image-preview" src="#" alt="Book image" />
			</div>
		</div>
	</section>

	<section id="choose-contact">
		<h2>Velg hvordan du vil bli kontaktet</h2>
		<i class="fa fa-facebook fa-4x"></i>
		<i class="fa fa-twitter fa-4x"></i>
		<i class="fa fa-envelope fa-4x"></i>
		<i class="fa fa-phone fa-4x"></i>
	</section>

	<section id="ready-to-sell" class="text-content">
		<a id="send-book" href="javascript:void(0)">legg ut for salg</a>
	</section>

	{% include 'body.footer.html' %}

</body>
</html>
