<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	{% include 'body.header.html' %}

	<section id="sok">
		<input type="text" placeholder="Søk">
	</section>

	<section class="books">
		<a href="produkt.html" class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<p class="title" href="#">Descrete mathematics for programming</p>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</a>
		<a href="produkt.html" class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<p class="title" href="#">Descrete mathematics for programming</p>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</a>
		<a href="produkt.html" class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<p class="title" href="#">Descrete mathematics for programming</p>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</a>
		<a href="produkt.html" class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<p class="title" href="#">Descrete mathematics for programming</p>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</a>
	</section>

	<section class="text-content">
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
	</section>

	{% include 'body.footer.html' %}

	<script type="text/javascript" src="js/fastclick.js"></script>
	<script>
		window.addEventListener('load', function() {
		    FastClick.attach(document.body);
		}, false);
	</script>
</body>
</html>