<!DOCTYPE html>
<html lang="no">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PEBB - Pensumbøker billig</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

{% include 'body.header.html' %}

	<section id="sok">
		
		<input type="text" placeholder="Søk">

	</section>

	<section id="books">
		<div class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<a class="title" href="#">Descrete mathematics for programming</a>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</div>
		<div class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<a class="title" href="#">Descrete mathematics for programming</a>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</div>
		<div class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<a class="title" href="#">Descrete mathematics for programming</a>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</div>
		<div class="book-thumb">
			<img src="/img/dmc.jpg" alt="">
			<a class="title" href="#">Descrete mathematics for programming</a>
			<p class="author">Rod Haggarty</p>
			<p class="price"><span class="new-price">600,-</span> 250,-</p>
		</div>
	</section>

	<section id="sok-info">
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentisum ad!</p>
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fusgit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae dolosribus praesentium ad!</p>
	</section>

	<footer>
		<p>Copyright &copy; G1</p>
	</footer>

</body>
</html>
