/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Global variables */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Arial", Arial, Roboto, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #E9EAED;
}

/* Grid system for books view */
/* Sitewide button base */
section {
  padding: 0 5px;
  height: 100%;
  max-width: 750px;
  margin: 30px auto;
  display: block;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 640px) {
  section {
    margin: 10px auto;
  }
}
@media screen and (max-width: 500px) {
  section {
    margin: 5px auto;
  }
}

.text-content {
  padding-bottom: 25px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  overflow: auto;
  margin: 0 0 5px 0;
  background-color: white;
  font-size: 16px;
  padding: 5px 15px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:last-child, input[type="password"]:last-child {
  margin: 0;
}

input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus {
  border-bottom: solid 2px #969696;
  outline: none;
}

h1 {
  color: #191919;
}

h2 {
  color: #333333;
}

h3 {
  color: #3f3f3f;
}

h4 {
  color: #4c4c4c;
}

p, i, select {
  color: #595959;
}

.books {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.books:after {
  content: "";
  display: table;
  clear: both;
}
.books .book-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 20px;
}
.books .book-container:last-child {
  margin-right: 0;
}
@media (min-width: 700px) {
  .books .book-container:nth-child(4n) {
    margin-right: 0;
  }
  .books .book-container:nth-child(4n+1) {
    clear: left;
  }
}
@media (max-width: 700px) and (min-width: 540px) {
  .books .book-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-bottom: 15px;
  }
  .books .book-container:last-child {
    margin-right: 0;
  }
  .books .book-container:nth-child(3n) {
    margin-right: 0;
  }
  .books .book-container:nth-child(3n+1) {
    clear: left;
  }
}
@media (max-width: 540px) and (min-width: 400px) {
  .books .book-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 10px;
  }
  .books .book-container:last-child {
    margin-right: 0;
  }
  .books .book-container:nth-child(2n) {
    margin-right: 0;
  }
  .books .book-container:nth-child(2n+1) {
    clear: left;
  }
}
@media (max-width: 400px) and (min-width: 0px) {
  .books .book-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 5px;
  }
  .books .book-container:last-child {
    margin-right: 0;
  }
  .books .book-container:nth-child(1n) {
    margin-right: 0;
  }
  .books .book-container:nth-child(1n+1) {
    clear: left;
  }
}
.books .book-container .book-thumb {
  padding: 10px;
  background-color: white;
  text-decoration: none;
  display: block;
  position: relative;
  height: 324px;
}
.books .book-container .book-thumb:after {
  content: "";
  display: table;
  clear: both;
}
.books .book-container .book-thumb img {
  max-height: 200px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}
.books .book-container .book-thumb .title {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 300;
  color: #00408d;
  text-decoration: none;
  display: block;
}
.books .book-container .book-thumb .author {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 300;
  color: #333333;
}
.books .book-container .book-thumb .price {
  margin: 5px 0;
  font-size: 24px;
  color: #961C00;
  position: absolute;
  bottom: 5px;
  right: 12.5px;
}
.books .book-container .book-thumb .price .retail-price {
  font-size: 14px;
  color: grey;
  text-decoration: line-through;
}
.books .book-container .book-thumb:hover .title {
  text-decoration: underline;
}

.full-width-banner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #60BC7B;
}
.full-width-banner:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner:nth-child(5) {
  background-color: #E9EAED;
}
.full-width-banner .head-elements {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 15px 5px 12px 5px;
}
.full-width-banner .head-elements:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner .head-elements:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner .head-elements h1 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
  letter-spacing: 10px;
  font-weight: 300;
  display: inline-block;
}
.full-width-banner .head-elements h1 a {
  color: #262626;
  text-decoration: none;
  float: left;
}
.full-width-banner .head-elements nav {
  float: right;
}
.full-width-banner .head-elements nav a {
  background-color: white;
  color: black;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px white, 0px 5px 0px #cccccc;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
}
.full-width-banner .head-elements nav a:active {
  top: 5px;
  box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf;
}
.full-width-banner .head-elements .btn-selected {
  top: 5px;
  box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf !important;
}
.full-width-banner .about-pebb {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 0;
  text-align: center;
}
.full-width-banner .about-pebb:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner .about-pebb h1 {
  margin-top: 0;
  font-size: 36px;
  color: white;
}
.full-width-banner .about-pebb h2 {
  color: white;
}
.full-width-banner .about-pebb p {
  color: #e5e5e5;
}
.full-width-banner .about-pebb .thing {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.full-width-banner .about-pebb .thing:last-child {
  margin-right: 0;
}
.full-width-banner .about-pebb .thing:nth-child(6n) {
  margin-right: 0;
}
.full-width-banner .about-pebb .thing:nth-child(6n+1) {
  clear: left;
}
@media (max-width: 400px) {
  .full-width-banner .about-pebb .thing {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .full-width-banner .about-pebb .thing:last-child {
    margin-right: 0;
  }
  .full-width-banner .about-pebb .thing:nth-child(1n) {
    margin-right: 0;
  }
  .full-width-banner .about-pebb .thing:nth-child(1n+1) {
    clear: left;
  }
}
.full-width-banner .about-pebb .thing i {
  color: #E9EAED;
}
.full-width-banner .about-us {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 5px;
  text-align: center;
}
.full-width-banner .about-us:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner .about-us h1 {
  margin-top: 0;
  font-size: 36px;
}
.full-width-banner .about-us p {
  padding: 0 0 25px 0;
  line-height: 25px;
}
.full-width-banner .about-us img {
  width: 100%;
  border-radius: 100%;
}
.full-width-banner .about-us .person {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
.full-width-banner .about-us .person:last-child {
  margin-right: 0;
}
.full-width-banner .about-us .person:nth-child(7n) {
  margin-right: 0;
}
.full-width-banner .about-us .person:nth-child(7n+1) {
  clear: left;
}
.full-width-banner .call-to-action {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 65px 5px;
  text-align: center;
}
.full-width-banner .call-to-action:after {
  content: "";
  display: table;
  clear: both;
}
.full-width-banner .call-to-action h1 {
  margin-top: 0;
  font-size: 36px;
  color: white;
}
.full-width-banner .call-to-action h4 {
  color: white;
}
.full-width-banner .call-to-action a {
  background-color: #538D9E;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #a9c6ce, 0px 5px 0px #42707e;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
}
.full-width-banner .call-to-action a:active {
  top: 5px;
  box-shadow: inset 0px 1px 0px #a9c6ce, inset 0px -1px 0px #3e6976;
}
.full-width-banner .call-to-action a:nth-child(3) {
  margin-left: 0;
}

.media-object {
  padding: 5px;
  background-color: white;
  margin: 5px 0;
}
.media-object:after {
  content: "";
  display: table;
  clear: both;
}
.media-object img {
  max-width: 150px;
  float: left;
}
.media-object .media-body {
  margin-left: 155px;
  position: relative;
}
.media-object .media-body:after {
  content: "";
  display: table;
  clear: both;
}
.media-object .media-body .media-head {
  font-size: 24px;
  margin: 0 5px 10px 0;
}

footer {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px auto;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer .link-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 0 10px;
  margin-bottom: 10px;
}
footer .link-col:last-child {
  margin-right: 0;
}
@media (max-width: 540px) {
  footer .link-col {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  footer .link-col:last-child {
    margin-right: 0;
  }
  footer .link-col:nth-child(2n) {
    margin-right: 0;
  }
  footer .link-col:nth-child(2n+1) {
    clear: left;
  }
}
footer .link-col h3 {
  text-transform: uppercase;
}
footer .link-col ul {
  padding: 0;
}
footer .link-col li {
  list-style: none;
  padding-bottom: 15px;
}
footer .link-col li a {
  color: #60BC7B;
}
footer .link-col li a:hover {
  color: #519f68;
}

#product-info #author {
  margin-top: 0;
}
#product-info #price {
  color: #961C00;
  font-size: 34px;
  margin: 0;
  bottom: 5px;
  right: 10px;
  position: absolute;
}
#product-info #price #retail-price {
  font-size: 18px;
  color: #FE9382;
  text-decoration: line-through;
}

#my-books h2 {
  padding: 0 2.5px;
}

#contact-seller a, #share-book a {
  padding-right: 25px;
  color: #595959;
  text-decoration: none;
}
#contact-seller a:hover, #share-book a:hover {
  cursor: pointer;
  color: #60BC7B;
}

#account-settings:after {
  content: "";
  display: table;
  clear: both;
}
#account-settings p {
  float: left;
}
#account-settings a {
  background-color: #FE9382;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #fec9c0, 0px 5px 0px #cb7568;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right;
}
#account-settings a:active {
  top: 5px;
  box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61;
}

#sell-info div {
  margin: 10px 0;
}
#sell-info .input-error {
  border-bottom: solid 2px #FE9382;
}
#sell-info .condition-info {
  display: flex;
}
#sell-info .condition-info select {
  border: 0;
  background-color: #E9EAED;
  font-size: 16px;
  letter-spacing: -1px;
}
#sell-info .condition-info select:focus {
  outline: none;
}
#sell-info .price-info #price-tip {
  font-size: 12px;
  margin-top: 5px;
  color: #7f7f7f;
}

#upload-img #images #first-image {
  display: inline-block;
}
#upload-img #images #second-image {
  display: none;
}
#upload-img #image-preview {
  height: 200px;
  width: 150px;
  display: none;
}
#upload-img #open-upload {
  height: 200px;
  width: 150px;
  background-color: #f2f2f2;
  border-width: 2px;
  border-color: #cccccc;
  border-style: dashed;
}
#upload-img #open-upload i {
  padding: 50% 38%;
}
#upload-img #open-upload:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border-color: #bfbfbf;
}
#upload-img #open-upload:hover i {
  color: #60BC7B;
}

#choose-contact .toggled {
  color: #60BC7B !important;
}
#choose-contact i {
  padding-right: 25px;
  color: #cccccc;
}
#choose-contact i:hover {
  cursor: pointer;
  color: #bfbfbf;
}

#ready-to-sell a {
  background-color: #60BC7B;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #afddbd, 0px 5px 0px #4c9662;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right;
}
#ready-to-sell a:active {
  top: 5px;
  box-shadow: inset 0px 1px 0px #afddbd, inset 0px -1px 0px #488d5c;
}

/*# sourceMappingURL=style.css.map */
