/* External lib */
/* General styles */
/* Global variables */
/* Base styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Arial", Arial, Roboto, Helvetica, sans-serif;
  margin: 0; }

h2 {
  color: #3f3f3f; }

p, i {
  color: #595959; }

section {
  padding: 0 5px;
  height: 100%;
  max-width: 700px;
  margin: 30px auto;
  display: block; }
  section:after {
    content: "";
    display: table;
    clear: both; }

.text-content {
  padding-bottom: 25px; }

input[type="text"] {
  width: 100%;
  overflow: auto;
  margin: 0 0 5px 0;
  background-color: #efefef;
  font-size: 16px;
  padding: 5px 15px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s; }
  input[type="text"]:last-child {
    margin: 0; }

input[type="text"]:focus, input[type="text"].focus {
  border-bottom: solid 2px #969696;
  outline: none; }

/* Mixins */
.full-width-banner {
  margin: 0 auto;
  background-color: #60BC7B; }
  .full-width-banner:after {
    content: "";
    display: table;
    clear: both; }
  .full-width-banner .head-elements, .full-width-banner .footer-elements {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 5px; }
    .full-width-banner .head-elements:after, .full-width-banner .footer-elements:after {
      content: "";
      display: table;
      clear: both; }
    .full-width-banner .head-elements a, .full-width-banner .footer-elements a {
      float: left; }
    .full-width-banner .head-elements nav, .full-width-banner .footer-elements nav {
      float: right; }
      .full-width-banner .head-elements nav a, .full-width-banner .footer-elements nav a {
        background-color: white;
        color: black;
        font-size: 12px;
        text-decoration: none;
        box-shadow: inset 0px 1px 0px white, 0px 5px 0px #cccccc;
        border-radius: 25px;
        margin-left: 10px;
        padding: 10px 15px;
        display: inline-block;
        position: relative; }
        .full-width-banner .head-elements nav a:active, .full-width-banner .footer-elements nav a:active {
          top: 5px;
          box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf; }
    .full-width-banner .head-elements .btn-selected, .full-width-banner .footer-elements .btn-selected {
      top: 5px;
      box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf !important; }
  .full-width-banner .head-elements a h1 {
    color: #262626;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin: 0;
    letter-spacing: 10px;
    font-weight: 300;
    display: inline-block; }
  .full-width-banner .footer-elements a h1 {
    color: #5bb274;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    display: inline-block; }
  .full-width-banner .footer-elements nav a:nth-child(odd) {
    background-color: #FE9382;
    color: white;
    font-size: 12px;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px #fec9c0, 0px 5px 0px #cb7568;
    border-radius: 25px;
    margin-left: 10px;
    padding: 10px 15px;
    display: inline-block;
    position: relative; }
    .full-width-banner .footer-elements nav a:nth-child(odd):active {
      top: 5px;
      box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61; }
  .full-width-banner .footer-elements .btn-selected {
    top: 5px;
    box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61 !important; }

.books {
  padding: 5px 2.5px; }
  .books .book-thumb {
    padding: 0 2.5px;
    margin: 10px 0;
    float: left;
    max-width: 25%;
    text-decoration: none; }
    @media screen and (max-width: 640px) {
      .books .book-thumb {
        margin: 5px 0; } }
    .books .book-thumb .title {
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      color: #00408d;
      text-decoration: none;
      display: block; }
    .books .book-thumb .author {
      margin: 5px 0;
      font-size: 12px;
      font-weight: 300;
      color: #333333; }
    .books .book-thumb .price {
      float: right;
      margin: 5px 0;
      font-size: 24px;
      font-weight: thin;
      color: #961c00; }
      .books .book-thumb .price .retail-price {
        font-size: 14px;
        color: grey;
        text-decoration: line-through; }
    .books .book-thumb:hover .title {
      text-decoration: underline; }
    @media screen and (max-width: 640px) {
      .books .book-thumb {
        max-width: 33.3%; } }
    @media screen and (max-width: 500px) {
      .books .book-thumb {
        max-width: 50%; } }
    .books .book-thumb img {
      height: 200px;
      width: 100%; }

/* Page spesific */
#upload-img .file-container {
  height: 200px;
  width: 150px;
  background-color: #f2f2f2;
  border-width: 2px;
  border-color: #cccccc;
  border-style: dashed;
  display: inline-block; }
  #upload-img .file-container i {
    padding: 50% 38%; }
  #upload-img .file-container:hover {
    cursor: pointer;
    background-color: #e5e5e5;
    border-color: #bfbfbf; }
    #upload-img .file-container:hover i {
      color: #60BC7B; }

#choose-contact i {
  padding-right: 25px; }
  #choose-contact i:hover {
    cursor: pointer;
    color: #60BC7B; }

#ready-to-sell a {
  background-color: #60BC7B;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #afddbd, 0px 5px 0px #4c9662;
  border-radius: 25px;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right; }
  #ready-to-sell a:active {
    top: 5px;
    box-shadow: inset 0px 1px 0px #afddbd, inset 0px -1px 0px #488d5c; }

#my-profile img {
  float: left;
  width: 150px; }
#my-profile h2 {
  margin-left: 155px; }
#my-profile p {
  margin-left: 155px; }

#account-settings:after {
  content: "";
  display: table;
  clear: both; }
#account-settings p {
  float: left; }
#account-settings a {
  background-color: #FE9382;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #fec9c0, 0px 5px 0px #cb7568;
  border-radius: 25px;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right; }
  #account-settings a:active {
    top: 5px;
    box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61; }

#product-info:after {
  content: "";
  display: table;
  clear: both; }
#product-info img {
  float: left; }
#product-info #book-info {
  margin-left: 155px; }
  #product-info #book-info p {
    font-size: 16px; }
  #product-info #book-info #title {
    color: black;
    font-size: 24px;
    margin-bottom: 10px; }
  #product-info #book-info #author {
    margin-top: 0; }
  #product-info #book-info #price {
    font-size: 24px;
    color: #961c00; }
    #product-info #book-info #price #retail-price {
      font-size: 14px;
      color: #FE9382;
      text-decoration: line-through; }

#kontakt-selger a, #del-bok a {
  padding-right: 25px;
  color: #595959;
  text-decoration: none; }
  #kontakt-selger a:hover, #del-bok a:hover {
    cursor: pointer;
    color: #60BC7B; }

/*# sourceMappingURL=style.css.map */
