/* External lib */
/* General styles */
/* Global variables */
/* Base styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Arial", Arial, Roboto, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  background-color: #E9EAED; }

h1 {
  color: #191919; }

h2 {
  color: #333333; }

h3 {
  color: #3f3f3f; }

p, i {
  color: #595959; }

section {
  padding: 0 5px;
  height: 100%;
  max-width: 750px;
  margin: 30px auto;
  display: block; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 640px) {
    section {
      margin: 10px auto; } }
  @media screen and (max-width: 500px) {
    section {
      margin: 2.5px auto; } }

.text-content {
  padding-bottom: 25px; }

input[type="text"], input[type="password"] {
  width: 100%;
  overflow: auto;
  margin: 0 0 5px 0;
  background-color: white;
  font-size: 16px;
  padding: 5px 15px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s; }
  input[type="text"]:last-child, input[type="password"]:last-child {
    margin: 0; }

input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus {
  border-bottom: solid 2px #969696;
  outline: none; }

/* Mixins */
.full-width-banner {
  margin: 0 auto;
  background-color: #60BC7B; }
  .full-width-banner:after {
    content: "";
    display: table;
    clear: both; }
  .full-width-banner .head-elements, .full-width-banner .footer-elements {
    max-width: 750px;
    margin: 0 auto;
    padding: 10px 5px; }
    .full-width-banner .head-elements:after, .full-width-banner .footer-elements:after {
      content: "";
      display: table;
      clear: both; }
    .full-width-banner .head-elements a, .full-width-banner .footer-elements a {
      float: left; }
    .full-width-banner .head-elements nav, .full-width-banner .footer-elements nav {
      float: right; }
      .full-width-banner .head-elements nav a, .full-width-banner .footer-elements nav a {
        background-color: white;
        color: black;
        font-size: 12px;
        text-decoration: none;
        box-shadow: inset 0px 1px 0px white, 0px 5px 0px #cccccc;
        margin-left: 10px;
        padding: 10px 15px;
        display: inline-block;
        position: relative; }
        .full-width-banner .head-elements nav a:active, .full-width-banner .footer-elements nav a:active {
          top: 5px;
          box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf; }
    .full-width-banner .head-elements .btn-selected, .full-width-banner .footer-elements .btn-selected {
      top: 5px;
      box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf !important; }
  .full-width-banner .head-elements a h1 {
    color: #262626;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin: 0;
    letter-spacing: 10px;
    font-weight: 300;
    display: inline-block; }
  .full-width-banner .footer-elements a h1 {
    color: #60BC7B;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    display: inline-block; }
  .full-width-banner .footer-elements nav a {
    background-color: #FE9382;
    color: white;
    font-size: 12px;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px #fec9c0, 0px 5px 0px #cb7568;
    margin-left: 10px;
    padding: 10px 15px;
    display: inline-block;
    position: relative; }
    .full-width-banner .footer-elements nav a:active {
      top: 5px;
      box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61; }
  .full-width-banner .footer-elements nav a:first-child {
    background-color: #538D9E;
    color: white;
    font-size: 12px;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px #a9c6ce, 0px 5px 0px #42707e;
    margin-left: 10px;
    padding: 10px 15px;
    display: inline-block;
    position: relative; }
    .full-width-banner .footer-elements nav a:first-child:active {
      top: 5px;
      box-shadow: inset 0px 1px 0px #a9c6ce, inset 0px -1px 0px #3e6976; }
  .full-width-banner .footer-elements nav a:last-child {
    background-color: white;
    color: black;
    font-size: 12px;
    text-decoration: none;
    box-shadow: inset 0px 1px 0px white, 0px 5px 0px #cccccc;
    margin-left: 10px;
    padding: 10px 15px;
    display: inline-block;
    position: relative; }
    .full-width-banner .footer-elements nav a:last-child:active {
      top: 5px;
      box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #bfbfbf; }
  .full-width-banner .footer-elements .btn-selected {
    top: 5px;
    box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61 !important; }

.books {
  padding: 0 2.5px; }
  .books .book-container {
    float: left;
    width: 25%; }
    @media screen and (max-width: 640px) {
      .books .book-container {
        width: 33.3%; } }
    @media screen and (max-width: 500px) {
      .books .book-container {
        width: 50%; } }
    @media screen and (max-width: 319px) {
      .books .book-container {
        width: 100%; } }
  .books .book-thumb {
    margin: 2.5px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    display: block;
    position: relative;
    height: 324px; }
    .books .book-thumb:after {
      content: "";
      display: table;
      clear: both; }
    .books .book-thumb img {
      max-height: 200px;
      max-width: 180px;
      display: block;
      margin: 0 auto;
      padding: 10px 0; }
    .books .book-thumb .title {
      margin: 5px 0;
      font-size: 14px;
      font-weight: 300;
      color: #00408d;
      text-decoration: none;
      display: block; }
    .books .book-thumb .author {
      margin: 5px 0;
      font-size: 12px;
      font-weight: 300;
      color: #333333; }
    .books .book-thumb .price {
      margin: 5px 0;
      font-size: 24px;
      color: #961C00;
      position: absolute;
      bottom: 5px;
      right: 12.5px; }
      .books .book-thumb .price .retail-price {
        font-size: 14px;
        color: grey;
        text-decoration: line-through; }
    .books .book-thumb:hover .title {
      text-decoration: underline; }

#login-modal {
  background: #E9EAED;
  padding: 14px 22px;
  max-width: 400px;
  position: relative;
  display: none; }
  #login-modal #login-modal-form {
    margin-top: 13px; }
    #login-modal #login-modal-form:after {
      content: "";
      display: table;
      clear: both; }
    #login-modal #login-modal-form #login-site {
      background-color: #60BC7B;
      color: white;
      font-size: 12px;
      text-decoration: none;
      box-shadow: inset 0px 1px 0px #afddbd, 0px 5px 0px #4c9662;
      margin-left: 10px;
      padding: 10px 15px;
      display: inline-block;
      position: relative;
      float: right; }
      #login-modal #login-modal-form #login-site:active {
        top: 5px;
        box-shadow: inset 0px 1px 0px #afddbd, inset 0px -1px 0px #488d5c; }

#upload-modal {
  background: #E9EAED;
  padding: 14px 22px;
  max-width: 400px;
  position: relative;
  display: none; }
  #upload-modal #login-modal-form {
    margin-top: 13px; }
    #upload-modal #login-modal-form:after {
      content: "";
      display: table;
      clear: both; }
    #upload-modal #login-modal-form #login-site {
      background-color: #60BC7B;
      color: white;
      font-size: 12px;
      text-decoration: none;
      box-shadow: inset 0px 1px 0px #afddbd, 0px 5px 0px #4c9662;
      margin-left: 10px;
      padding: 10px 15px;
      display: inline-block;
      position: relative;
      float: right; }
      #upload-modal #login-modal-form #login-site:active {
        top: 5px;
        box-shadow: inset 0px 1px 0px #afddbd, inset 0px -1px 0px #488d5c; }

/* Facebook */
.fb-icon-bg {
  background: #354f88;
  height: 37px;
  margin: 0 0 -37px 0;
  width: 41px; }

.fb-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
  display: block;
  padding: 9px 10px 5px 15px; }

.fb-bg {
  background: #3b5998;
  display: block;
  height: 37px;
  margin: 0 0 30px 41px;
  width: 265px; }
  .fb-bg a {
    font-size: 14px;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 8px;
    color: #fff; }

.fb-bg:hover {
  cursor: pointer; }

.fb-bg:active {
  background: #354f88; }

/* Page spesific */
#book-info .input-error {
  border-bottom: solid 2px #FE9382; }

#upload-img .file-container {
  height: 200px;
  width: 150px;
  background-color: #f2f2f2;
  border-width: 2px;
  border-color: #cccccc;
  border-style: dashed;
  display: inline-block; }
  #upload-img .file-container i {
    padding: 50% 38%; }
  #upload-img .file-container:hover {
    cursor: pointer;
    background-color: #e5e5e5;
    border-color: #bfbfbf; }
    #upload-img .file-container:hover i {
      color: #60BC7B; }

#choose-contact .toggled {
  color: #60BC7B !important; }
#choose-contact i {
  padding-right: 25px;
  color: #cccccc; }
  #choose-contact i:hover {
    cursor: pointer;
    color: #bfbfbf; }

#ready-to-sell a {
  background-color: #60BC7B;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #afddbd, 0px 5px 0px #4c9662;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right; }
  #ready-to-sell a:active {
    top: 5px;
    box-shadow: inset 0px 1px 0px #afddbd, inset 0px -1px 0px #488d5c; }

#account-settings:after {
  content: "";
  display: table;
  clear: both; }
#account-settings p {
  float: left; }
#account-settings a {
  background-color: #FE9382;
  color: white;
  font-size: 12px;
  text-decoration: none;
  box-shadow: inset 0px 1px 0px #fec9c0, 0px 5px 0px #cb7568;
  margin-left: 10px;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  float: right; }
  #account-settings a:active {
    top: 5px;
    box-shadow: inset 0px 1px 0px #fec9c0, inset 0px -1px 0px #be6e61; }

#product-info:after, #my-profile:after {
  content: "";
  display: table;
  clear: both; }
#product-info .product-container, #product-info .profile-container, #my-profile .product-container, #my-profile .profile-container {
  padding: 5px;
  background-color: white; }
  #product-info .product-container:after, #product-info .profile-container:after, #my-profile .product-container:after, #my-profile .profile-container:after {
    content: "";
    display: table;
    clear: both; }
  #product-info .product-container img, #product-info .profile-container img, #my-profile .product-container img, #my-profile .profile-container img {
    float: left;
    max-width: 150px; }
  #product-info .product-container #book-info, #product-info .product-container #profile-info, #product-info .profile-container #book-info, #product-info .profile-container #profile-info, #my-profile .product-container #book-info, #my-profile .product-container #profile-info, #my-profile .profile-container #book-info, #my-profile .profile-container #profile-info {
    margin-left: 155px;
    position: relative; }
    #product-info .product-container #book-info:after, #product-info .product-container #profile-info:after, #product-info .profile-container #book-info:after, #product-info .profile-container #profile-info:after, #my-profile .product-container #book-info:after, #my-profile .product-container #profile-info:after, #my-profile .profile-container #book-info:after, #my-profile .profile-container #profile-info:after {
      content: "";
      display: table;
      clear: both; }
    #product-info .product-container #book-info #title, #product-info .product-container #book-info #name, #product-info .product-container #profile-info #title, #product-info .product-container #profile-info #name, #product-info .profile-container #book-info #title, #product-info .profile-container #book-info #name, #product-info .profile-container #profile-info #title, #product-info .profile-container #profile-info #name, #my-profile .product-container #book-info #title, #my-profile .product-container #book-info #name, #my-profile .product-container #profile-info #title, #my-profile .product-container #profile-info #name, #my-profile .profile-container #book-info #title, #my-profile .profile-container #book-info #name, #my-profile .profile-container #profile-info #title, #my-profile .profile-container #profile-info #name {
      font-size: 24px;
      margin: 0 5px 10px 0; }
    #product-info .product-container #book-info #author, #product-info .product-container #profile-info #author, #product-info .profile-container #book-info #author, #product-info .profile-container #profile-info #author, #my-profile .product-container #book-info #author, #my-profile .product-container #profile-info #author, #my-profile .profile-container #book-info #author, #my-profile .profile-container #profile-info #author {
      margin-top: 0; }
    #product-info .product-container #book-info #price, #product-info .product-container #profile-info #price, #product-info .profile-container #book-info #price, #product-info .profile-container #profile-info #price, #my-profile .product-container #book-info #price, #my-profile .product-container #profile-info #price, #my-profile .profile-container #book-info #price, #my-profile .profile-container #profile-info #price {
      color: #961C00;
      font-size: 34px;
      margin: 0;
      bottom: 5px;
      right: 10px;
      position: absolute; }
      #product-info .product-container #book-info #price #retail-price, #product-info .product-container #profile-info #price #retail-price, #product-info .profile-container #book-info #price #retail-price, #product-info .profile-container #profile-info #price #retail-price, #my-profile .product-container #book-info #price #retail-price, #my-profile .product-container #profile-info #price #retail-price, #my-profile .profile-container #book-info #price #retail-price, #my-profile .profile-container #profile-info #price #retail-price {
        font-size: 18px;
        color: #FE9382;
        text-decoration: line-through; }

#contact-seller a, #share-book a {
  padding-right: 25px;
  color: #595959;
  text-decoration: none; }
  #contact-seller a:hover, #share-book a:hover {
    cursor: pointer;
    color: #60BC7B; }

/*# sourceMappingURL=style.css.map */
