/* Global variables */
$main-color: #60BC7B
$main-blue: #538D9E
$main-red: #FE9382
$main-orange: #FEC182
$book-price: #961c00
$page-width: 750px

/* Base styles */
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	font-family: $arial
	margin: 0
	background-color: #E9EAED

h2
	color: tint(black, 25%)

p, i
	color: tint(black, 35%)

section
	padding: 0 5px
	height: 100%
	max-width: $page-width
	margin: 30px auto
	display: block
	+clearfix

.text-content
	padding-bottom: 25px

input[type="text"]
	width: 100%
	overflow: auto
	margin: 0 0 5px 0
	background-color: white
	font-size: 16px
	padding: 5px 15px
	border: none
	border-bottom: solid 2px #c9c9c9
	transition: border 0.3s

	&:last-child
		margin: 0

input[type="text"]:focus, input[type="text"].focus
	border-bottom: solid 2px #969696
	outline: none

/* Mixins */
=custom-btn($btn-bg-color, $btn-color)
	background-color: $btn-bg-color
	color: $btn-color
	font-size: 12px
	text-decoration: none
	box-shadow: inset 0px 1px 0px tint($btn-bg-color, 50%), 0px 5px 0px shade($btn-bg-color, 20%)
	//border-radius: 25px
	margin-left: 10px
	padding: 10px 15px
	display: inline-block
	position: relative

	&:active
		top: 5px
		box-shadow: inset 0px 1px 0px tint($btn-bg-color, 50%), inset 0px -1px 0px shade($btn-bg-color, 25%)

=custom-btn-selected($btn-bg-color, $btn-color)
	top: 5px
	box-shadow: inset 0px 1px 0px tint($btn-bg-color, 50%), inset 0px -1px 0px shade($btn-bg-color, 25%) !important
