.books
	padding: 5px 2.5px

	.book-thumb
		padding: 0 2.5px
		margin: 10px 0
		float: left
		max-width: 25%
		text-decoration: none

		@media screen and (max-width: 640px)
			margin: 5px 0

		.title
			margin: 0
			font-size: 14px
			font-weight: 300
			color: #00408d
			text-decoration: none
			display: block

		.author
			margin: 5px 0
			font-size: 12px
			font-weight: 300
			color: tint(black, 20%)

		.price
			float: right
			margin: 5px 0
			font-size: 24px
			font-weight: thin
			color: $book-price

			.retail-price
				font-size: 14px
				color: grey
				text-decoration: line-through

		&:hover

			.title
				text-decoration: underline

		@media screen and (max-width: 640px)
			max-width: 33.3%

		@media screen and (max-width: 500px)
			max-width: 50%

		img
			height: 200px
			width: 100%
