.head-wrap
	margin: 0 auto
	background-color: #60bc7b

	.head-elements
		max-width: 700px
		margin: 0 auto
		padding: 10px

		h1
			font-family: $helvetica
			margin: 0
			letter-spacing: 10px
			font-weight: 300
			display: inline-block
