#product-info, #my-profile
    +clearfix

    .product-container, .profile-container
        padding: 5px
        background-color: white
        +clearfix

        img
            float: left
            max-width: 150px

        #book-info, #profile-info
            margin-left: 155px
            position: relative
            +clearfix

            #title, #name
                font-size: 24px
                margin: 0 5px 10px 0

            #author
                margin-top: 0

            #price
                color: $book-price
                font-size: 34px
                margin: 0
                bottom: 5px
                right: 10px
                position: absolute

                #retail-price
                    font-size: 18px
                    color: $main-red
                    text-decoration: line-through

#contact-seller, #share-book

    a
        padding-right: 25px
        color: tint(black, 35%)
        text-decoration: none

        &:hover
            cursor: pointer
            color: $main-color
