#item-info


    #author, #condition
        margin: 2.5px

    #price
        color: $book-price
        font-size: 34px
        margin: 0
        bottom: 5px
        right: 10px
        position: absolute


#my-books

    h2
        padding: 0 2.5px



#contact-seller, #share-book

    a
        padding-right: 25px
        color: tint(black, 35%)
        text-decoration: none

        &:hover
            cursor: pointer
            color: $main-color
