<footer>
	<div class="link-col">
		<h3>Om PEBB</h3>
		<ul>
			<li><a href="#">Historien</a></li>
			<li><a href="#">Teamet</a></li>
			<li><a href="#">Lorem ipsum</a></li>
		</ul>
	</div>
	<div class="link-col">
		<h3>Support</h3>
		<ul>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Kontakt</a></li>
		</ul>
	</div>
	<div class="link-col">
		<h3>PEBB</h3>
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
	</div>
	<div class="link-col">
		<h3>PEBB</h3>
		<ul>
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
	</div>
</footer>

<script src="js/libraries.js"></script>
<script src="js/global.js"></script>
<!--

	&#10003; = checkmark
	&#10060; = crossmark
-->


<!-- Initiate fastclick.js -->
<script>
	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>

{% if messages.alert %}
<!-- Close button for alerts -->
<script>
	$(window).ready(function() {
		$('.close-btn', $('#alert')).click(function(e) {
			var btn = $(this);
			btn.parent().fadeOut('slow', function() {
				btn.parent().css('display', 'none');
			});
		});
	});
</script>
{% endif %}
