<!DOCTYPE html>
<html lang="no">
{% include 'head.html' %}
<body>

	{% include 'body.nav.html' %}

	<section id="sok">
		<input type="text" placeholder="Søk">
	</section>

	<section class="books">
		<div class="book-container">
			<a href="produkt" class="book-thumb">
				<img src="img/no-image.png" alt="">
				<p class="title" href="#">Navn til bok</p>
				<p class="author">Forfatter</p>
				<p class="price"><span class="retail-price">999,-</span> 100,-</p>
			</a>
		</div>
		<div class="book-container">
			<a href="produkt" class="book-thumb">
				<img src="img/no-image.png" alt="">
				<p class="title" href="#">Navn til bok</p>
				<p class="author">Forfatter</p>
				<p class="price"><span class="retail-price">999,-</span> 100,-</p>
			</a>
		</div>
		<div class="book-container">
			<a href="produkt" class="book-thumb">
				<img src="img/no-image.png" alt="">
				<p class="title" href="#">Navn til bok</p>
				<p class="author">Forfatter</p>
				<p class="price"><span class="retail-price">999,-</span> 100,-</p>
			</a>
		</div>
		<div class="book-container">
			<a href="produkt" class="book-thumb">
				<img src="img/no-image.png" alt="">
				<p class="title" href="#">Navn til bok</p>
				<p class="author">Forfatter</p>
				<p class="price"><span class="retail-price">999,-</span> 100,-</p>
			</a>
		</div>
	</section>

	<section class="text-content">
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
		<h2>Søk etter tittel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cumque, vitae voluptas perspiciatis. Aliquid autem, fugit fugiat alias animi, impedit quo ipsam ipsum quidem, quasi, error recusandae doloribus praesentium ad!</p>
	</section>

	{% include 'body.footer.html' %}

</body>
</html>
